<ul>
    {% for article in articles %}
        <li>
            id: {{ article.id }} name {{ article.title }}</li>
             <a href="{{ path('article_author', {'author': article.author}) }}">{{ article.author }}</a>
    {% else %}
        <li>Pas d'utilisateur trouvé.</li>
    {%  endfor %}
</ul>