{% extends('::base.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}">
{% endblock %}

{% block title %}
    {{ parent() ~ ' - homepage' }}
{% endblock %}

{% block body %}
    {{ parent() }}

   <h1>HOMEPAGE</h1>
    {% include('AppBundle:Article/Partial:list.html.twig') %}
{% endblock %}