body {



}
body {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
p {
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.6rem;
}
article {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 300px;
    max-height: auto;
    background: #eee;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.share {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #2ecc71;
    cursor: pointer;
}
.share:hover {
    -webkit-animation: glow 1s infinite;
    animation: glow 1s infinite;
}
.share .fa-share-alt {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #2ecc71;
}
.share .social {
    opacity: 1;
    position: absolute;
    top: -200%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}
.share .social .fa {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    background: #ccc;
}
.share .social .fa.fa-twitter {
    background: #ccc;
    color: #000;
    border: solid 2px transparent;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.share .social .fa.fa-twitter.shared {
    background: #0084b4;
    color: #fff;
    border: solid 2px #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.share .social .fa.fa-facebook {
    background: #ccc;
    color: #000;
    border: solid 2px transparent;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.share .social .fa.fa-facebook.shared {
    background: #3b5998;
    color: #fff;
    border: solid 2px #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.share .social .fa.fa-google-plus {
    background: #ccc;
    color: #000;
    border: solid 2px transparent;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.share .social .fa.fa-google-plus.shared {
    background: #d34836;
    color: #fff;
    border: solid 2px #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.share .social .fa.fa-close:hover {
    background: crimson;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dropdownmenu ul,
.dropdownmenu li {
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    background: gray;
    list-style: none;
    width: 100%;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a {
    background: #30A6E6;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.dropdownmenu li:hover a {
    background: #000000;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    /* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}

#submenu li {
    float: none;
    width: 100%;
}

#submenu a:hover {
    background: #DF4B05;
}

#submenu a {
    background-color: #000000;
}