#menu li {


    display: inline-block;
    list-style: none;
    padding: 20px 20px 0 0;


}
#menu {

    height: 75px;
    background-color: #2f2f2f;

}
.container {

    border: 1px solid rgba(0,0,0,0.3);

}